html
	head
		title NETS 2120 Homework 2 Milestone 2 - TED Navigator
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
		meta(name='viewport' content='width=device-width, initial-scale=1')
	body(class="container")
		h1 NETS 2120 Homework 2 Milestone 2 - TED Navigator
		h3 Top #{results.length} TED talks matching "#{search}"
