<!DOCTYPE html>
<html>
<body>
	<h1>Adding Restaurant...</h1>
	
	<% if(allFields) { %>
  	<meta http-equiv="refresh" content="0; url='/restaurants'">
  <% } else { %>
  	<script>
  		alert("Have not completed all fields!");
  	</script>
  	<meta http-equiv="refresh" content="0; url='/restaurants'">
  	<% } %>
  	
</body>
</html>