<!DOCTYPE html>
<html>
<body>
	<!-- GERMAN -->
  <h1>Lookup results</h1>
  You searched for: <%= theInput %><p>
  <%if (result != null) { %>
  Translation: <%= result %><p>
  <% } %>
  <%if (message != null) { %>
  <font color="red"><%= message %><p>
  <% } %>
  <a href="/">Back to search</a>
</body>
</html>
