<!DOCTYPE html>
<html>
<body>
	
  <h1>Enter username here</h1>
  <form action="/createaccount" method="post">
    <p>username: <input type="text" name="username"></p>
    <p>password: <input type="text" name="password"></p>
    <p>full name: <input type="text" name="fullname"></p>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
